<section>
  <div class="header-bar ">
    <img src="assets/images/app-logo.png"/>
    <h1 class="title">
      Denoising images
    </h1>
  </div>
  <div class="content">
    <div class="input-column">
      <span>Before</span>
      <div class="image-input" id="imageInput">
        <!-- Or choose file -->
        <label for="fileInput" *ngIf="!selectedFile">
          <img src="assets/images/plus.png" />
        </label>
        <!-- Allow drag and drop -->
        <p class="title-input" *ngIf="!selectedFile">Drag & drop an image file here</p>
        <input #fileInput type="file" id="fileInput" (change)="onFileSelected($event)" accept=".png,.jpg,.jpeg">
        <div *ngIf="selectedFile" class = "image-review" (click)="triggerFileInput()">
          <!-- <p>Selected file: {{ selectedFile.name }}</p> -->
          <img [src]="filePreview" *ngIf="filePreview" alt="File preview">
        </div>
      </div>
    </div>
    
    <img src = "assets/images/next.png"/>
    <div class="input-column">
      <span >After</span>
      
      <div class="image-show">
        <img [src]="sanitizedImageUrl" alt="image" *ngIf="imageAfterUrl">
        <img src="assets/images/default-image.png" *ngIf="!imageAfterUrl">
      </div>
    </div>
  </div>
  <div class="denoise-btn-container">
    <button class="denoise-btn" id="denoiseBtn" (click)="denoiseImage()">Denoise</button>
    <button class="download-btn" id="downloadBtn" (click)="downloadBlob()">Download Image</button>
  </div>
</section>


